.smartAgeSubTitle{
	font-size:16px;
	padding-top:25px;
}

.smartAgePriceTable{
	margin:30px 0;
	border:#000 2px solid;
	width:100%;
}

.smartAgePriceTable th{
	border-bottom:#aaa 1px solid;
	vertical-align:middle;
	padding:10px 30px;
	background-color:#666;
	color:#fff;
	font-size:15px;
	font-weight:bold;
}

.smartAgePriceTable td{
	border-bottom:#aaa 1px solid;
	border-right:#aaa 1px solid;
	padding:10px 30px;
	vertical-align:middle;
	font-size:15px;
	font-weight:bold;
}


.smatAgeWorkTable{
	margin:30px 0;
	border:#000 2px solid;
	width:100%;
}

.smatAgeWorkTable th{
	border-bottom:#aaa 1px solid;
	vertical-align:middle;
	padding:10px 30px;
	background-color:#eee;
	font-weight:bold;
}

.smatAgeWorkTable td{
	border-bottom:#aaa 1px solid;
	border-right:#aaa 1px solid;
	padding:10px 30px;
	vertical-align:middle;
	font-weight:bold;
}





.smartAgeFlow {
	margin: 30px 0 60px 0px;
}
.smartAgeFlow li {
	font-size:14px;
	font-weight:normal;
}
.smartAgeFlow li + li {
	padding: 35px 0 0;
	background: url(img/flow_arrow.gif) no-repeat 100px 10px;
}
.smartAgeFlow li span {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: middle;
	margin:5px 10px 5px 0px;;
	padding:3px 30px;
	text-align: center;
	color: #AD0003;
	border: 1px solid #AD0003;
	font-weight:bold;
}
.smartAgeFlow li em {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: middle;
	font-size: 18px;
	color: #000;
	padding-left:15px;
}
.smartAgeFlow li div {
	margin: 10px 0 0;
}




.smartAgeQA{
	margin-top:30px;
	border-bottom:#aaa 1px dotted;
	padding-bottom:20px;
}

.smartAgeQA dt{
	font-weight:bold;
	margin-bottom:10px;
}

.smartAgeQA dt span{
	font-size:24px;
	padding-right:15px;
}

.smartAgeQA dd span{
	font-size:24px;
	color:#AD0003;
	padding-right:15px;
	font-weight:bold;
}




.smartAgeContact{
	margin:30px 0;
}

.smartAgeContact a{
	background-color: #AD0003;
	color:#fff;
	display:block;
	width:100%;
	font-size:18px;
	text-align:center;
	padding:30px 0;
}


.smartAgeContact span{
	background:url(img/iconMail.png) 0px 0px no-repeat;
	background-size:contain;
	padding-left:45px;
}

.smartAgeContact a:hover{
	background-color: #aaa;
}


/*--------------------------------------------
	色変更
--------------------------------------------*/

/*企業向け　緑*/

.smartAgeArea002 .mainHeader{
	border-bottom:#ec6500 1px solid;
}


.smartAgeArea002 .mainH3{
	color:#ec6500;
}

.smartAgeArea002 .smartAgeFlow li span {
		border:#ec6500 1px solid;
		color:#ec6500;
}

.smartAgeArea002 .smartAgeContact a{
	background-color:#ec6500;
}
