@charset "utf-8";
/*
 * gmi.css グローバルマックスインブルーメンツ（モバイル）
 *
 */

 /*お問い合わせ*/
 #scroll {
     height: 200px;
     overflow: scroll;
     border: 2px solid #eee;
     background-color: #fff;
     width: 90%;
     margin: 0 auto;
     margin-top: 20px;
     padding: 15px;
     border-radius: 0px;
     text-align: left;
 }
 p.title {
     font-weight: bold;
     margin-bottom: 7px;
     border-bottom: 1px solid #eee;
     padding-bottom: 5px;
 }
 p.check {
    text-align: center;
    margin-top: 20px;
}

 @media screen and (max-width:480px){
/*********************************
　　ヘッダー
**********************************/
#homeSlideWrap {
  position: relative;
    margin: 10px auto;
    min-width: 100%;
    max-width: 990px;
}
#homeSlide {
    margin: 0 auto;
    max-width: 930px !important;
    width: 100% !important;
    padding:0px !important;
    border: 0px solid #eee !important;
  }
  div#homeSlideInner img {
    width: 100% !important;
    height: auto;
}
#homeSlideLeft, #homeSlideRight {
    top: 50px !important;
    width: 23px !important;
    height: 23px !important;
    background-size: cover;
  }
  #homeSlideInner {
    position: relative;
    overflow: hidden;
    max-width: 930px !important;
    width: 100% !important;
    height: 140px !important;
  }
  #homeNav {
      margin: 5px auto 0;
      width: 100%;
  }
  #homeNav ul li {
    float: left;
    border-right: 1px dotted #ccc;
    padding: 0 0px;
    width: 100% !important;
    height: auto !important;
    margin: auto;
    margin-bottom:20px;
}
#homeInfo h2, #jobInfo h2 {
    position: relative;
    margin: 0 10px;
    display: block;
    border-bottom: 4px solid #AD0003;
    padding-bottom: 32px;
    font-size: 12px;
}
#homeInfo h2 img, #jobInfo h2 img {
    margin: 0 10px 5px 0px;
    display:inline-block;
}
#homeInfo h2 a, #jobInfo h2 a {
    display: block;
    position: absolute;
    right: 212px;
    bottom: 12px;
    padding-left: 15px;
    height: 12px;
    background: url(../../global/img/arrow_5.png) no-repeat 0 0;
    line-height: 1;
    font-size: 12px;
    font-weight: normal;
}
#homeInfo ul {
    margin: 5px 0px 0;
}
#homeNav ul li dl dt a img {
    width: 70% !important;
    height: auto;
}
#homeGrayBg {
    padding-top: 0px !important;
    margin: 0px 0 0 !important;
    padding: 30px 0 0;
    max-width: 940px;
    min-width:auto !important;
    width: 100% !important;
  }
  #homeContentWrap {
    margin: 0 auto 50px;
    width: 100% !important;
  }
  #homecontentMain {
    width: 100% !important;
}
#homeInfo {
    padding: 25px 0px;
    width: 100% !important;
  }
  #homeSidebar {
      float: right;
      width: 100% !important;
      text-align:center;
    }
    .indexServiceBnrBox li {
        width: 100% !important;
        margin-top:10px;
      }
    .indexServiceBnrBox li:last-child {
      margin-left: 0px !important;
  }
  #homeNav ul li dl {
      margin: 0px 20px;
  }
#homeNav ul li dl {
  text-align:center;
}
#homeNav ul li dl dt a span {
  text-align:left;
}
#homeNav ul li dl dd {
  text-align:left;
}
div.bannar img,ul.indexServiceBnrBox img {
    height: auto;
    width: 93%;
    margin: auto;
}
#homeSidebar .bannar a {
    background: #eee;
}
.indexServiceBnrBox {
    text-align: center;
}
#homeSidebar .bannar:first-child {
    margin-top: 15px;
}

/*会社情報 */
p.mainP img {
    width: 100%;
    height:auto;
}
h4.change_ur_biz_lead {
    font-size: 12px;
    margin: 7px 0;
}
#sidebar {
  display:block !important;
  width:100% !important;
}
.sidebarLocalNav {
    margin: 0 0 10px 0;
    border: 0px solid #eee;
    padding: 18px 15px;
}
.sidebarBannar {
    display: none;
}
.aboutOutlineTable th, .aboutOutlineTable td {
    vertical-align: middle;
    padding: 15px 0px;
}
.aboutOutlineTable td {
  text-align:left;
}
.mainH4 {
    margin: 20px 0 0px 0px;
    text-align: center;
}
.mainPageTop {
    margin: 30px 0px 20px 0px;
}
.aboutAccessList ul {
    overflow: hidden;
    margin: -20px 0 0;
    width: 100%;
}
.aboutAccessList li div {
    margin: 0px 0 0;
    height: auto;
    font-size: 11px;
}
iframe {
    width: 100%;
}
/*コンサルティング事業*/
.mainHeader h2 {
    text-align: center;
}
.mainHeader h2 span {
  font-size:15px !important;
}
p.consul_title_red {
    font-size: 14px;
  }
  .aboutKeywords {
    padding: 1.1em 0;
  }
  p.consul_title_red {
    margin-top: 10px;
    font-size:13px;
  }
  ul.contact_process li {
    display: inline-block;
    width: 47%;
    float: none;
    margin: 2px 2px;
}
input[type="image"] {
    width: 100%;
    height: auto;
}
ul.consult_service {
    margin-top: 10px;
    font-size: 13px;
  }
  .consultIndexNav {
    overflow: hidden;
    margin: 10px 0 0;
    border-top: #eee 0px solid;
    border-bottom: #eee 0px solid;
    padding-bottom:0px;
}
.consultIndexNav dl {
    float: left;
    width: 100%;
    margin-bottom: 30px;
}
.consultServiceImg img {
    width: 100%;
    height: auto;
}
img.spdeco {
    width: 100%;
    height: auto;
}
.consultServiceCatch {
    font-size: 14px;
}
.consultServiceLead {
  margin: 0px 0 30px;
  border-top: 0px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 22px 10px;
}
.consultStaffCatch {
    margin: 20px 0 0;
    font-size: 14px;
  }
  .consultStaffLead {
    margin: 0px 0 0;
    border-top: 0px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 20px 10px;
}
ul.text_list02 {
    /* font-size: 12px; */
    margin: 5px 0px;
}
.consultPlanningTitle div {
    margin: 0px 0 0;
    font-size: 13px;
}
.consultPlanningTitle img.planning {
    padding: 15px 0;
    width: 55%;
    height: auto;
}
.consultPlanningFlow {
    margin: 30px 0px 0px;
    padding: 0px 0 0 100px;
    background: url(../consult/img/planning_flow.gif) no-repeat 0px 0px;
}
.consultPlanningFlow li {
    list-style: decimal inside;
    line-height: 18px;
    height: 103px;
    font-size: 13px;
    font-weight: bold;
}
.consultStaffThree img {
  width:100%;
  height:auto;
}
/*アウトソーシング事業*/
.outsource_image_box img {
    width: 100%;
    height: auto;
}
p.outTitle00 {
    font-size: 15px;
    text-align: center;
}
.outsourcingTitle {
    font-size: 13px;
    padding: 13px 9px;
}
.outStyle01 {
    font-weight: bold;
    font-size: 13px;
    border-top: #aaa 1px solid;
    border-bottom: #aaa 1px solid;
    padding: 10px 0px;
}
ul.outUL01 li {
    line-height: 1.0;
    padding: 3px 0;
}
ul.outUL01 li strong {
    font-weight: normal;
    font-size: 13px;
}
img.creative2 {
    float: left !important;
    text-align: center;
    margin-top: 20px !important;
}
.outsourceH5 {
    margin: 30px 0 0 0px;
}
.outsourceH5 span {
    display: block;
    margin-bottom: 10px;
}
.mainH5 {
    margin: 15px 0 0 0px;
    padding-left: 15px;
    margin-left: 0px !important;
    font-size: 13px;
}
.outsourceMobileBox {
    float: left;
    margin: 10px 0 0;
    border: 1px solid #ad0003;
    padding: 10px 10px;
    font-weight: normal;
    font-size: 12px;
}
.mainP {
    margin: 30px 0 10px 0px;
}
.careerstyle {
    display: none;
}
/*職業紹介*/
.syokaiTable th {
    border-right: 0px solid #ccc;
    font-weight: bold;
    width: 100%;
}
.syokaiTable th, .syokaiTable td {
    padding: 10px 0px;
    border-top: 1px solid #ccc;
    border-bottom: 0px solid #ccc;
}
.recruitCatch {
    margin: 25px 0 25px 0;
    text-align: center;
    font-size: 16px;
}
.recruitLead {
    margin: 20px 0 30px 0px;
    border-top: 0px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 15px 0px;
    padding-top: 0px;
}
.mainH6 {
    margin: 5px 0 0 0px;
    font-size: 12px;
}
.contentBox .ml20 {
    margin-left: 0px !important;
}
p.mt20 img {
    width: 100%;
    height: auto;
}
/*インフォメーション*/
.mainHeader h2 img {
    margin-right: 0px;
    display: block;
    width: auto;
    margin: auto;
}
.infoList ul li a {
    display: block;
    overflow: hidden;
    padding: 15px 0px;
}
div.none {
  display:none;
}
/*お問い合わせ*/
.formTable th, .formTable td {
    vertical-align: middle;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 9px 0px;
}
.formTextarea {
    border: 1px solid #eee;
    width: 100%;
    height: 10em;
}
.formTable th {
    border-right: 0px solid #eee;
    padding: 15px 0px;
}
.formreg textarea, .formInput, .formInputTel, .formInputAddr {
    border: 1px solid #eee;
    padding: 5px 0px;
}
.formEx {
    margin-top: 10px;
}
.formTable th, .formTable td {
    text-align: left;
    border-top: 0px solid #eee;
}
.contactStep {
    display: block !important;
}
.contactStep img {
  width:100%;
  height:auto;
}


/*ここまで完了*/

/* ここから↓ */


body.jobsearch {
	margin-top:45px!important;
}
body.regist {
	margin-top:45px!important;
}

#siteHeader {
	background: url(../img/header_bg.gif) repeat-x 0 bottom;
  margin-top: -20px;
}
#mfgh {
	height:32px !important;
	min-width:100% !important;;
}
#mfgh_inner {
	padding-top: 4px !important;
    text-align: left !important;
    width: 100% !important;
    float: left;
}
#mfgh_inner img {
	   width: auto;
	   height: 21px;
	   padding-left:10px;
}
#mfgh_nav {
	display:none;
}
#mfgh_nav > div {
    width: 40% !important;
    margin-bottom: 5px !important;
  }
div#siteHeaderTop img {
      width: 190px;
      height: auto;
}
#siteHeaderInner {
	padding:0 !important;
	width: 100% !important;
}
#siteHeaderTop {
    padding: 0px 10px;
}

#siteHeaderContact {
	display:none;
}
#siteHeaderNav ul {
	display:none;
}
#siteNav {
	display:none;
}
#topicpath {
	display:none;
}

#topicpath_sp {
    margin: 20px auto 5px;
    width: auto;
    background-color:#ad0003;
    display: block;
}
#topicpath_sp ol {
    font-size: 11px;
    overflow: hidden;
    padding: 5px 5px 5px 15px;
}
#topicpath_sp li {
    color: #FFF;
    float: left;
    margin-right: 0.5em;
}
#topicpath_sp li::before {
    content: ">";
    margin-left: 0.5em;
    padding-right: 10px;
}
#topicpath_sp li:first-child {
    margin-right: 0;
}
#topicpath_sp li:first-child::before {
    content: none;
}
#topicpath_sp li a {
	color:#fff;
	padding-right: 5px;
}
/*********************************
　　サイド
**********************************/

#sidebar {
	display:none;
}
/*********************************
　　グループバナー
**********************************/

#groupBannar {
	width:auto;
	padding-bottom:30px;
}
#groupBannar ul {
	padding:10px;
	}
#groupBannar li {
	width: 100%;
    margin: 0 auto 10px;
}
#groupBannar li + li {
	marign-left: initial;
    margin-left: 0;
}
/*********************************
　　フッター
**********************************/

#siteFooter {
	min-width:100%;
}
#siteFooterInner {
	width:100%;
}
div#siteFooterCopyright {
	width:100%;
	font-size:85%;
}
#siteFooterGrouptop {
	display:none;
}
#siteFooterTotop {
	background-color:#222;
	width:100%;
	right: inherit;
	text-align:center;
}
#siteFooterTotop a {
}
#siteFooterNav {
	display:none;
}
#siteFooterNav_sp {
	display:block;
}
#siteFooterNav_sp ul {
	text-align:center;
	width:100%;
	font-size:11px;
}
#siteFooterNav_sp ul:before {
	content:"｜ ";
}
#siteFooterNav_sp li {
  margin-bottom:4px;
	padding:0;
	display: -moz-inline-box;
	display: inline-block;
	/display: inline;
	/zoom: 1;
}
#siteFooterNav_sp li a:after {
	content:" ｜";
}

/*********************************
　　コンテンツ
**********************************/

#contentWrap {
	width:100% !important;
}
#contentMain {
	width:100% !important;
}
.mainHeader {
	margin-bottom:10px !important;
	padding-bottom:5px;
}
.contentBox {
	padding:0px !importnat;
	border:none !important;
	padding:20px;
}
.contactLead {
	margin:10px 0;
	font-size:12px;
}
.contactStep {
	display:none;
}
.contactNotes {
	margin:10px 0 0 0;
	font-size:12px;
	padding-left:14px;
	background-position:left center;
}



/*********************************
　　トップページ
**********************************/

#jobinfo .thumbnail img {
    width: 100%;
    height: auto;
}

/* 9/18 不明
 #homeSidebar {
    width:100% !important;
}
*/

/*********************************
　　登録申し込み
**********************************/

.formreg dt {
    float: none;
    width: auto !important;
    padding: 5px 0 5px 40px;
}
.formreg dd {
    float: none;
    width: auto !important;
    padding: 2px 0 7px 5px;
    margin-left:0 !important;
    border:none;
}
.formRequired2 {
	right: inherit;
    margin-left: 5px;
    left: 0;
}
.formreg textarea,
.formInput,
.formInputTel,
.formInputAddr {
	width:98%;
}
dt.any {
	padding-left:0;
}
.formBtn2 {
	background-position: 255px 50%;
	border-radius: 3px;
	width: 100%;
	margin:0;
}
/*********************************
　　求人案件
**********************************/
/*--検索ボックス----*/
.searchbox01 h3 span  {
	display:block;
	margin:0;
	text-align: center;
}

.searchbox01 ul li {
	border-bottom:1px solid #ccc;
	width:100%;
	margin:0;
	padding:5px 0;
	text-indent:inherit;
}
.searchbox01 ul li ul {
	margin:0;
	width:90%;
}
.searchbox_top {
	width:100%;
	float:left;
}
.searchbox01 ul li ul li {
	border:none;
	padding: 0 0 0 20px;
}
.accordion_ul {
	float:none;
	margin:0 !important;
	width: 100% !important;
}
#secondary p span.wrap, li span.wrap {
	position: relative;
	display: block;
	/*max-width: 320px;*/
	width: 100%;
	margin: 0 auto;
	text-indent:0px;
}

#secondary div p span.wrap:before {
	position: absolute;
	display: block;
	content: "";
	width: 12px;
	height: 12px;
	margin-top: -10px;
	top: 50%;
	right: 5px;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	background: #ac0002;
}

#secondary div p span.wrap:after {
	position: absolute;
	display: block;
	content: "";
	width: 12px;
	height: 12px;
	margin-top: -13px;
	top: 50%;
	right: 5px;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	background: #fff;
}
.searchbox02 {
	border-left:none;
    position: inherit;
    right: inherit;
    top: inherit;
    float: left;
    padding-left: 0;
    width:100%;
}
.searchbox02 ul {
	margin:5px 0;
	padding:0;
	width:100%;
}
.searchbox02 ul li {
	border:none;
}
.search{
	width:100% !important;
}
.search ul {
	border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 7px 0;
}
.search ul li {
	text-align:left;
	text-ailgn:left !important;
	padding:0;
	border:none;
	width: 100% !important;
	text-indent: 0;
}
.search ul li a::before {
    background: #ac0002;
    content: "";
    display: block;
    height: 10px;
    margin-top: -5px;
    position: absolute;
    right: 16px;
    top: 50%;
    -webkit-transform: rotate(45deg);
	transform: rotate(45deg);
    width: 10px;
}
.search ul li a::after {
    background: #FFF;
    content: "";
    display: block;
    height: 10px;
    margin-top: -5px;
    position: absolute;
    right: 18px;
    top: 50%;
    -webkit-transform: rotate(45deg);
	transform: rotate(45deg);
    width: 10px;
}
#jobinfo {
	border-bottom: 1px solid #ccc;
	margin-bottom:10px;
}

#jobinfo ul li {
	width:100%;
	border-left:none;
	padding:0;
	border-top: 1px solid #ccc;
}
.readmore {
	width:100%;
	padding: 3px 0;
}
#jobinfo .thumbnail img {
	width:100%;
	height:auto;
}
#jobdetail .thumbnail img {
	width:100%;
	height:auto;
}
#jobdetail dt {
    float: none;
    width: auto !important;
    padding: 5px 0 5px 0px;
    font-weight: bold;
}
#jobdetail dd {
    float: none;
    width: auto !important;
    padding: 2px 0 7px 0px;
    margin-left:0 !important;
    border:none;
}
#jobinfo li h3 {
   height:auto;
}
#jobinfo li p.detail_s {
	height:auto;
    }

/* ここから */

    th,td {
		display: block;
		text-align: center;
        width: 100% !important;
        height: auto;
	}

    .aboutAccessList li {
        float: left;
        margin: 20px 0px 0 0;
        width: 93% !important;
        padding: 8px;
        border: 1px solid #ccc;
    }

    .aboutKeywords li {
        display: block;
        display: flex;
        /* width: 100% !important; */
        margin: 5px 12px;
        font-size: 16px;
        color: #ad0003;
        font-weight: bold;
    }

    .mainH4 span {
        display: block;
        padding: 2px 20px;
        background: #000;
        font-size: 15px;
        color: #fff;
        font-weight: normal;
    }

    img.consult_service_img {
        margin: 20px 0px;
        width: 100% !important;
    }

    .mainHeader h2 span {
        display: block;
        vertical-align: bottom;
        height: auto;
        line-height: 32px;
        font-size: 18px;
        font-weight: bold;
    }

    .mainHeader h2 span {
        display: inline-block;
        *display: inline;
        *zoom: 1;
        vertical-align: bottom;
        height: 30px;
        line-height: 32px;
        font-size: 18px;
        font-weight: bold;
    }

}
