<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta http-equiv="content-style-type" content="text/css; charset=UTF-8" />
<meta http-equiv="content-script-type" content="text/javascript" />
<title>管理画面</title>
<link href="{{ $html->webroot('css/common.css')}}" rel="stylesheet" type="text/css">
<script src="http://www.google.com/jsapi" type="text/javascript"></script>
<script type="text/javascript">
google.load("jquery","1.3.1");
function MM_openBrWindow(theURL,winName,features) { //v2.0
  window.open(theURL,winName,features);
}
</script>

<script language="JavaScript" src="{{ $html->webroot('jscripts/common.js')}}"></script>
<script type="text/javascript" src="{{ $html->webroot('js/lightbox/jquery.lightbox-0.5.js')}}"></script>
<link href="{{ $html->webroot('js/lightbox/jquery.lightbox-0.5.css')}}" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{{ $html->webroot('js/jquery.page-scroller-307.js')}}"></script>

</head>


<body>
<div class="wordBreak" style="word-break:break-all;">

<!--header-->
<div id="header">
<div id="header-inner">

<!--logo-->
{{$this->renderElement('logo')}}
<!--logoここまで-->

</div>
</div>
<!--headerここまで-->

<!--pagebody-->
<div id="pagebody">
<div id="pagebody-inner">

<!--sidebar-->
{{$this->renderElement('side_menu')}}
<!--sidebarここまで-->



<!--content-->
<div id="content">
<h2>SITEMAP XML作成</h2>
<div id="content-inner">

<div class="cont">
<h3>作成画面</h3>
<p>sitemap.xmlを作成します。次へボタンを押して下さい。<br/>時間が掛かります。</p>
</div>

{{if $error}}
<div class="error">
{{foreach name="error" from=$error key="key" item="value"}}
<span class="redTxt">・{{$value}}</span>{{if !$smarty.foreach.error.last}}<br/>{{/if}}
{{/foreach}}
</div>
{{/if}}
<div class="cont">
{{ $form->create('Sitemap',$this->aa('action','/lists','name','Sitemap','Autocomplete','off')) }}
{{ $form->hidden('_token',$this->aa('value',$token))}}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
	<td class="button_field" colspan="2" align="center"><input type="submit" value="次　へ" /></td>
	</tr>
</table>
</form>
</div>

</div>
</div>
<!--contentここまで-->

</div>
</div>
<!--pagebodyここまで-->

<!--scroll-->
<div id="scroll">
<div id="scroll-inner">
<a href="#header">ページの先頭へ</a>
</div>
</div>
<!--scrollここまで-->

<!--footer-->
<div id="footer">
</div>
<!--footerここまで-->

{{$this->renderElement('copyright')}}

</div>
</body>
</html>
