<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta http-equiv="content-style-type" content="text/css; charset=UTF-8" />
<meta http-equiv="content-script-type" content="text/javascript" />
<title>管理画面</title>
<link href="{{ $html->webroot('css/common.css')}}" rel="stylesheet" type="text/css">
<script src="http://www.google.com/jsapi" type="text/javascript"></script>
<script type="text/javascript">
google.load("jquery","1.3.1");
function MM_openBrWindow(theURL,winName,features) { //v2.0
  window.open(theURL,winName,features);
}
</script>
<script type="text/javascript" src="{{ $html->webroot('js/lightbox/jquery.lightbox-0.5.js')}}"></script>
<link href="{{ $html->webroot('js/lightbox/jquery.lightbox-0.5.css')}}" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{{ $html->webroot('js/jquery.page-scroller-307.js')}}"></script>
<script language="JavaScript" src="{{ $html->webroot('jscripts/common.js')}}"></script>
</head>


<body>
<div class="wordBreak" style="word-break:break-all;">

<!--header-->
<div id="header">
<div id="header-inner">

<!--logo-->
{{$this->renderElement('logo')}}
<!--logoここまで-->

</div>
</div>
<!--headerここまで-->

<!--pagebody-->
<div id="pagebody">
<div id="pagebody-inner">

<!--sidebar-->
{{$this->renderElement('side_menu')}}
<!--sidebarここまで-->



<!--content-->
<div id="content">
<h2>カテゴリー管理【{{$category_name}}】</h2>
<div id="content-inner">

<div class="cont">
<p>設定ボタンを押して編集を行って下さい。</p>
</div>

<div class="cont"> <img src="{{ $html->webroot('images/new_btn.jpg')}}" width="93" height="27" alt="新規作成" id="newBtn" style="cursor: pointer" onclick="doccategories_add( );" />
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr class="head">
    <td>テゴリー名</td>
    <td width="10%">表示順</td>
    <td width="16%">編集削除</td>
  </tr>
{{foreach name="list" from=$list key="key" item="value"}}
	<tr>
	<td>{{$value.Cmsdoccategory.name|yen|escape:'html':'utf-8'}}</td>
	<td align="center">{{if $smarty.foreach.list.first==true}}{{else}}<img src="{{ $html->webroot('images/up_icon.jpg')}}" alt="アップ" width="13" height="13" style="cursor: pointer" onclick="go_doccategorysort({{$value.Cmsdoccategory.id}},1);" />&nbsp;{{/if}}{{if $smarty.foreach.list.last==true}}{{else}}<img src="{{ $html->webroot('images/down_icon.jpg')}}" width="13" height="13" alt="ダウン" style="cursor: pointer" onclick="go_doccategorysort({{$value.Cmsdoccategory.id}},2);"/>{{/if}}</td>
	<td><img src="{{ $html->webroot('images/edit_icon.jpg')}}" width="40" height="19" alt="編集"  style="cursor: pointer" onclick="doccategories_edit( {{$value.Cmsdoccategory.id}} );" />&nbsp;<img src="{{ $html->webroot('images/delete_icon.jpg')}}" width="40" height="19" alt="削除"  style="cursor: pointer" onclick="doccategories_del( {{$value.Cmsdoccategory.id}} );" /></td>
	</tr>
{{/foreach}}
</table>
</div>

</div>
</div>
{{ $form->create('Cmsdoccategory',$this->aa('action','/add','name','add')) }}
</form>
{{ $form->create('Cmsdoccategory',$this->aa('action','/edit','name','edit')) }}
{{ $form->hidden('id',$this->aa('value',''))}}
</form>
{{ $form->create('Cmsdoccategory',$this->aa('action','/del','name','del')) }}
{{ $form->hidden('_token',$this->aa('value',$token))}}
{{ $form->hidden('del_id',$this->aa('value',""))}}
</form>
{{ $form->create('Cmsdoccategory',$this->aa('action','/sort','name','sort')) }}
{{ $form->hidden('id',$this->aa('value',''))}}
{{ $form->hidden('sort_flag',$this->aa('value',''))}}
</form>
<!--contentここまで-->

</div>
</div>
<!--pagebodyここまで-->

<!--scroll-->
<div id="scroll">
<div id="scroll-inner">
<a href="#header">ページの先頭へ</a>
</div>
</div>
<!--scrollここまで-->

<!--footer-->
<div id="footer">
</div>
<!--footerここまで-->

{{$this->renderElement('copyright')}}

</div>
</body>
</html>
